node_modules/
scouting-football-newsletter-firebase-adminsdk-a8cbd-8921bf101f.json
.runtimeconfig.json
# "prettier --write --ignore-unknown",

#   "lint-staged": {
#     "**/*.+(js|css|html|md)": [
#       "eslint . --ignore-path .eslintignore"
#     ],
#     "**/*.+(js|json|css|html|md)": [
#       "prettier --write --ignore-unknown",
#       "cross-env NODE_ENV=test jest --bail --findRelatedTests"
#     ]
#   },