$main-bg-color: #F5F5F5;
$secondary-bg-fill-color: rgba(45, 46, 47, 0.7);
$primary-sub-color: #222020;
$secondary-sub-color: #FFFFFF;
$benefits-text-color-: #212121;
$btn-bg-color: #0099FF;
$placeholder-text-color: #AAAAAA;
$input-text-color: #333333;
$input-bg-color: #EBEBEB;
$form-black-bg-color: #413E3E;
$validated-text-color: #488C08;
