/* @import-normalize; */
@font-face {
  font-family: 'Dosis Regular';
  src: local('Dosis Regular'), url(./assets/fonts/Dosis-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis Semibold';
  src: local('Dosis Semibold'), url(./assets/fonts/Dosis-SemiBold.ttf) format('truetype');
}
body {
  background-color: rgba(45, 46, 47, 0.7);
  /* background-color: black; */
}